out
dist
node_modules
.vscode-test
src/temp
*.zip
*.pyc
/util/ExtractFabItemOptions/.vs
/util/ExtractFabItemOptions/obj
/util/ExtractFabItemOptions/packages
/util/ItemDefinitionParser/.vs
/util/ItemDefinitionParser/obj
/util/ItemDefinitionParser/packages
/util/ExecuteInAcad/obj
/util/Builds/**/*.xml
/util/Builds/**/*.pdb