.git/**
.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

node_modules/**
test_cases/**
.vscodeignore
pack.py
package-lock.json
tslint.json
tsconfig.json
util/**
